<%= stylesheet_link_tag "support", :media => :all %>

<section> 
  <hgroup>
  <h2>支援與服務</h2>
  <p>若想瞭解更多關於漢杰的服務或有任何疑問</p>
  </hgroup>
  <div id="content">
  <div class="left">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="20%"><img src="<%= image_path("sup-02.jpg") %>" width="68" height="68"></td>
    <td width="80%">歡迎您來電洽詢<br>
      <strong style="font-size:35px">02-7737-7001</strong></td>
  </tr>
  <tr>
    <td><a href="mailto:sales@hanjay.com" target="_blank"><img src="<%= image_path("sup-03.jpg") %>" width="71" height="72"></a></td>
    <td>寫封Email給我們<br>
      <strong><a href="mailto:sales@hanjay.com" target="_blank">sales@hanjay.com</a></strong></td>
  </tr>
  <tr>
    <td><img src="<%= image_path("sup-04.jpg") %>" width="68" height="68"></td>
    <td>也可利用傳真<br>
      <strong>02-2799-2677 </strong></td>
  </tr>
  <tr>
    <td><img src="<%= image_path("sup-05.jpg") %>" width="68" height="68"></td>
    <td>或親自來訪<br>
      <strong style="font-size:18px">11049 台北市信義路 5 段 7 號 37 樓</strong></td>
  </tr>
</table>

  </div><!--left-->
  <div class="right">
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.010489121014!2d121.56480930000002!3d25.033718099999962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da80a7ad%3A0xb422bceb61c26abc!2zMTEw5Y-w5YyX5biC5L-h576p5Y2AVGFpcGVpIDEwMSBNYWxs5L-h576p6Lev5LqU5q61N-iZnw!5e0!3m2!1szh-TW!2stw!4v1412150117326" width="500" height="340" frameborder="0" style="border:0"></iframe>
  
  </div><!--right-->
  </div> <!--content-->
  </section>
  
  <script>
  	$(document).ready(function() {
	  $('nav a[href*=support]').addClass('active');
	  	
  	});
  </script>