<%= stylesheet_link_tag "support", :media => :all %>

<section> 
  <hgroup>
  <h2>支援與服務</h2>
  <p>若想瞭解更多關於漢杰的服務或有任何疑問</p>
  </hgroup>
  <div id="content">
  <div class="left">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="20%"><img src="<%= image_path("sup-02.jpg") %>" width="68" height="68"></td>
    <td width="80%">歡迎您來電洽詢<br>
      <strong style="font-size:35px">02-7737-7001</strong></td>
  </tr>
  <tr>
    <td><a href="mailto:sales@hanjay.com" target="_blank"><img src="<%= image_path("sup-03.jpg") %>" width="71" height="72"></a></td>
    <td>寫封Email給我們<br>
      <strong><a href="mailto:sales@hanjay.com" target="_blank">sales@hanjay.com</a></strong></td>
  </tr>
  <tr>
    <td><img src="<%= image_path("sup-04.jpg") %>" width="68" height="68"></td>
    <td>也可利用傳真<br>
      <strong>02-2799-2677 </strong></td>
  </tr>
  <tr>
    <td><img src="<%= image_path("sup-05.jpg") %>" width="68" height="68"></td>
    <td>或親自來訪<br>
      <strong style="font-size:18px">台北市內湖區瑞光路 607 號 4 樓</strong></td>
  </tr>
</table>

  </div><!--left-->
  <div class="right">
  
    <iframe width="500" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps/ms?msa=0&amp;msid=203848635306889925931.0004da769b412a169f912&amp;brcurrent=3,0x3442ac8cce5ab953:0xfd28b61e8cd386bf,0,0x3442ac6b61dbbd9d:0xc0c243da98cba64b&amp;ie=UTF8&amp;ll=25.08005,121.566918&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe>
  
  </div><!--right-->
  </div> <!--content-->
  </section>
  
  <script>
  	$(document).ready(function() {
	  $('nav a[href*=support]').addClass('active');
	  	
  	});
  </script>