<% if @event.errors.any?  %>
<script>
	var message = "<%= @event.errors.count.to_s + "個問題必須修正：" %>" + " <br />";
	<% @event.errors.full_messages.each do | m | %>
	message += "<%= m %><br />";
	<% end %>

	Alertify.dialog.alert(message);	
</script>
<% end %>

<%= form_for([:admin, @event]) do |f| %>

    <section class="title">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><%= f.label :title, "活動名稱" %></th>
          <td><%= f.text_field :title, :placeholder => "請輸入活動名稱" %></td>
        </tr>
      </table>
    </section>
    <!--title-->
    <section class="text text-edit">
      <div class="half">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>    
            <th valign="top"><%= f.label :date, "日期：" %></th>
            <td><%= f.text_field :date, :placeholder => "請選擇活動日期", :class => "datePicker", :value =>@event.date.to_s( :date )  %></td>
          </tr>
        </table>
      </div>
      <div class="half">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top"><%= f.label :period, "時間：" %></th>
            <td><%= f.text_field :period, :placeholder => "請手動輸入時間" %></td>
          </tr>
        </table>
      </div>
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top"><%= f.label :location, "地點：" %></th>
            <td><%= f.text_field :location, :placeholder => "請輸入地點" %></td>
          </tr>
        </table>
      </div>
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top"><%= f.label :description, "內容：" %></th>
            <td><%= f.text_area :description, :class => "autogrow" %></td>
          </tr>
        </table>
      </div>
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top"><%= f.label :link, "URL：" %></th>
            <td><%= f.text_field :link, :placeholder => "http://www.example.com.tw" %></td>
          </tr>
        </table>
      </div>
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th><%= f.label :status, "顯示？" %></th>
            <td>
            	<%= f.check_box :status, { :checked => ("checked" if @event.status == "enable"), :class => "checkbox" }, "enable" %>
              ( 若無勾選則不發佈 )</td>
          </tr>
        </table>
      </div>
    </section>
    <!--text-->
    <section class="button"><a href="javascript:$('#eventSubmit').click();"><%= image_submit_tag "save.png", :id => "eventSubmit" %> 儲存</a><a href="<%= admin_events_path %>"><img src="<%= image_path "cancel.png" %>">取消</a> </section>
    <!--button--> 
<% end %>

