
<%= stylesheet_link_tag "update" %>

<%= javascript_include_tag "peditor" %>

<section>
<hgroup>
  <h2>最新消息</h2>
</hgroup>
<div id="content">
<% if !@f_news.nil? %>
  <div class="news">
    <div class="title">
      <div class="date"> <%= @f_news.date.year %><br>
        <span class="md"><%= "#{@f_news.date.month}.#{@f_news.date.day}" %></span> </div>
      <h3><%= @f_news.name %></h3>
      <img src="<%= image_path("upd-02.png") %>"> </div>
    <div id="initNews" class="text"></div>
  </div>
<%end%>
</div>
<!--content--> 
</section>

<script type="text/javascript">
	$(function(){	
		editor.output('<%= @f_news.content.html_safe %>', $('#initNews'));
		
		var news_ids = [];
		
		<% @news.each do | news |  %>
			news_ids.push(<%= news.id %>);
		<% end %>
		
		setTimeout( function() { grapNewsContent( 1 ) }, 200);
		
		function grapNewsContent( index ) {
		
			if (index >= news_ids.length) {
				return;
			} else if ( index == undefined ) {
				index = 1;
			}
			
			$.ajax({
				url: '/news/' + news_ids[index],
				dataType: "script",
				complete: function( data ) {
					setTimeout( function() { grapNewsContent( index+1 ) }, 300);
				}
			});
		}
			
		$('.title').click(function(){
			$(this).addClass('active').parents('.news').siblings().children().removeClass('active');
			var $side_text = $(this).next('.text');
			if(!$side_text.is(':visible')){
				$('.news .text:visible').slideUp();
			}
			$side_text.slideToggle();
		}).siblings().hide();
		
		$('.title').eq(0).addClass('active').next('.text').show()
	});
	
	
	
</script>
