<%= form_for([:admin, @flaw]) do |f| %>
  <% if @flaw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flaw.errors.count, "error") %> prohibited this flaw from being saved:</h2>

      <ul>
      <% @flaw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue %><br />
    <%= f.text_area :issue %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
