<p id="notice"><%= notice %></p>

<p>
  <b>Issue:</b>
  <%= @flaw.issue %>
</p>

<p>
  <b>Date:</b>
  <%= @flaw.date %>
</p>

<p>
  <b>Status:</b>
  <%= @flaw.status %>
</p>


<%= link_to 'Edit', edit_admin_flaw_path(@flaw) %> |
<%= link_to 'Back', admin_flaws_path %>
