
<aside _height="none">
  <section>
    <h6>網路安全風險診斷專家</h6>
    <nav><a href="<%= root_url %>">首頁</a> ｜ <a href="<%= page_path( :support ) %>">支援與服務 </a>｜<a href="<%= news_index_path %>">最新消息 </a>｜ <a href="<%= flaws_path %>">安全弱點通報 </a>｜ <a href="<%= events_path %>">漢杰活動</a></nav>
   <div id="info"> 漢杰科技股份有限公司<br>
   新北市新店區寶中路 45 號 20 樓之一<br>
  電話：02-2910-1125</div>
  </section>
</aside>

<footer _height="none">
  <section>©2014 HANJAY. All Right Reserved.     <a href="http://www.summers.com.tw" target="_blank" title="網頁設計 By 夏天廣告">網頁設計 By 夏天廣告</a> </section>
</footer>
